$default-font: "Google Sans", sans-serif;
$default-font-2: "RoadRadio", sans-serif;
$wc: #f6f6f6;
$text-color: #f6f6f6;
$bg-color: #221a22;
$accent-color: #322a32;
// $white: #fff;
$navy-dark: #14293e;
$teal-deep: #0a4b4f;
$sky-light: #9fbac7;

//Pitbull//

$beige: #a89968;
$black: #010b13;
$grey: #e7e7e7;
$white: #f7f7f7;
$btn: rgba(247, 247, 247, 0.8);
