extends /index.pug
block content
  img(class="background " src="/assets/images/bg/bg.png")
  include /widgets/relax_page_hero/relax_page_hero.pug
  include /widgets/relax_page_gallery/relax_page_gallery.pug
  include /widgets/show_prices/show_prices.pug
    