@import "../../../node_modules/intl-tel-input/build/css/intlTelInput.min.css";

.iti {
  width: 100%;

  --iti-path-flags-1x: url("@widgets/form/flags.webp");
  --iti-path-flags-2x: url("@widgets/form/flags@2x.webp");
  --iti-path-globe-1x: url("@widgets/form/globe.webp");
  --iti-path-globe-2x: url("@widgets/form/globe@2x.webp");
}

/* приховати .iti за замовчуванням */
// .form_item .iti {
// opacity: 0;
// transition: opacity 0.3s ease;
// }

/* показати, коли .form_item активна (фокус або валідність) */
// .form_item.active .iti {
//   opacity: 1;
// }

.iti__country-list {
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

.iti__mobile {
  .iti__country-list {
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
  }
}

.iti__country-list {
  z-index: 20 !important;
  padding-top: 10px !important;
}
.iti__country-name {
  color: black;
}

.iti__search-input-wrapper {
  display: none !important;
}

.form__success {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: max(20px, 3.125vw);
  min-height: 300px;
  text-align: center;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  h2 {
    color: #fff;
    font-family: "OceanicTextMono-Book";
    font-size: max(28px, 2.5vw);
    line-height: 90%;
  }

  p {
    color: #b3c5c5;
    font-family: "MabryPro-Light";
    font-size: 20px;
    line-height: 110%;
  }
}
