.prices_page {
  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    gap: max(20px, 2.08vw);
    width: calc(100vw - 8.333vw);
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: max(100px, 10.41vw);
    @media (max-width: 768px) {
      flex-direction: column;
      width: calc(100vw - 40px);
      margin-top: 40px;
    }
    @media (max-width: 480px) {
      width: calc(100vw - 24px);
      margin-top: 20px;
    }
  }
  &__left {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: max(300px, 16.6vw);
    height: min-content;
    padding: 32px max(12px, 1.66vw) 32px max(12px, 1.66vw);
    border-radius: 40px;
    background: $white;
    @media (max-width: 1360px) {
      min-width: 260px;
      width: 260px;
    }
    @media (max-width: 768px) {
      width: 100%;
      padding: 14px 20px;
      border-radius: 20px;
    }
    h2 {
      margin: 0 0 20px 20px;
      font-family: "Noto Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: -0.8px;
      @media (max-width: 768px) {
        display: none;
      }
    }
    li.active {
      background: $beige;
      color: $white;
      @media (max-width: 768px) {
        background: transparent;
        color: $beige;
      }
      svg {
        transform: rotate(-135deg);
        color: $white;
      }
    }
    li {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 8px 20px;
      border-radius: 100px;
      cursor: pointer;
      @include text-16-500;
      @media (max-width: 768px) {
        padding: 8px 0;
        @include text-14-700;
      }
      &:hover svg {
        transform: rotate(-135deg);
      }
      .arrow {
        @include center;
        width: 16px;
        height: 16px;
        @media (max-width: 768px) {
          display: none;
        }
        svg {
          width: 6.239px;
          height: 11.249px;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  &__right {
    position: relative;
    flex: 1;
  }
  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(10px);
    transition:
      opacity 0.35s ease,
      transform 0.35s ease,
      visibility 0.35s;
  }
  &__content.active {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
    position: relative;
  }
  &__content_top {
    display: flex;
    @media (max-width: 1360px) {
      flex-wrap: wrap;
    }
  }
  &__content_bottom [data-id] {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(8px);
    height: 0;
    overflow: hidden;
  }
  &__content_bottom [data-id].active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
    height: auto;
    overflow: visible;
  }
  &__content_title {
    margin-right: 40px;
    @include text-48-500;
    @media (max-width: 1360px) {
      width: 100%;
      margin-bottom: 30px;
    }
    @media (max-width: 1360px) {
      margin-bottom: 20px;
    }
  }
  &__content_btn.active {
    color: $white !important;
    background: $black !important;
  }
  &__content_btn {
    margin-bottom: 40px;
    padding: 20px 24px;
    border-radius: 100px;
    @include text-16-600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      color: $white;
      background: $beige;
    }
    @media (max-width: 1024px) {
      margin-bottom: 28px;
      padding: 8px 12px;
      @include text-16-500;
      text-transform: lowercase;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    @media (max-width: 480px) {
      margin-bottom: 20px;
      @include text-14-500;
    }
  }
}
.packages {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  &__title {
    @include text-24-500;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
[data-id="group-classes"],
[data-id="individual-classes"] {
  .packages__wrapper {
    margin-top: max(28px, 2.08vw);
    @media (max-width: 480px) {
      margin-top: 20px;
    }
  }
}

.package {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  width: 100%;
  padding: max(28px, 2.08vw) max(20px, 2.08vw) max(28px, 2.08vw) max(20px, 2.08vw);
  border-radius: 40px;
  background: $white;
  @media (max-width: 1360px) {
    flex-direction: column;
    gap: 12px;
  }
  .button_pa {
    padding: 14px 32px 14px 24px;
  }
  &__left {
    width: 36.45vw;
    @media (max-width: 1360px) {
      width: 100%;
    }
    h3 {
      margin-bottom: 12px;
      font-family: "Noto Sans";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      letter-spacing: -0.72px;
      @media (max-width: 480px) {
        @include text-18-700;
      }
    }
  }
  &__left_info {
    display: flex;
    gap: 20px;
    @media (max-width: 1360px) {
      flex-direction: column;
      gap: 12px;
    }
    div {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    svg {
      width: 24px;
      height: 24px;
    }
    span {
      @include text-16-600;
      @media (max-width: 480px) {
        font-size: 14px;
        letter-spacing: -0.56px;
      }
    }
  }
  &__left_time {
    div {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }
  &__center {
    flex: 1;
    h3 {
      margin-bottom: 8px;
      @include text-16-600;
      svg {
        display: none;
      }
      @media (max-width: 480px) {
        font-size: 14px;
        letter-spacing: -0.56px;
      }
    }
    li {
      position: relative;
      padding-left: 12px;
      @include text-12-500;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 2px;
        height: 2px;
        background: $black;
      }
    }
  }
  &__right {
    display: flex;
    align-items: start;
    gap: 40px;
    .info {
      display: flex;
      align-items: center;
      gap: 4px;
      margin: auto 0;
      @include text-12-500;
      cursor: pointer;
      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
  &__img {
    width: 176px;
    margin-right: max(20px, 2.08vw);
    border-radius: 12px;
    overflow: hidden;
    @media (max-width: 1360px) {
      margin: 0;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__prices {
    width: 332px;
    margin-right: max(20px, 2.08vw);
    @media (max-width: 1360px) {
      width: 100%;
      margin: 0;
    }
    h3 {
      margin-bottom: 12px;
      font-family: "Noto Sans";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      letter-spacing: -0.72px;
    }
  }
  &__prices_wrapper {
    display: flex;
    svg {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
    div {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
    }
  }
  &__info {
    width: 140px;
    margin-right: max(20px, 2.08vw);
    @media (max-width: 1360px) {
      width: 100%;
      margin: 0;
    }
    h3 {
      margin-bottom: 8px;
      @include text-16-600;
      svg {
        display: none;
      }
    }
    li {
      position: relative;
      padding-left: 12px;
      @include text-12-500;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 2px;
        height: 2px;
        background: $black;
      }
    }
  }
}

[data-id="shooting_lane_rental"] {
  .package__left {
    width: auto;
    flex: 1;
  }

  .package__center {
    max-width: 340px;
    width: 340px;
    margin: 0 40px;
    @media (max-width: 1360px) {
      max-width: 100%;
      width: 100%;
      margin: 0;
    }
  }
  .package__img {
    border-radius: 12px;
    overflow: hidden;
  }
}

@media (max-width: 1360px) {
  .dropdown {
    position: relative;
    width: 100%;
    padding: 12px 20px;
    border-radius: 20px;
    background: $grey;
    &__toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0 !important;
      cursor: pointer;
      svg {
        display: block !important;
        width: 16px;
        height: 16px;
      }
    }

    &__menu {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
      li:first-child {
        padding-top: 8px;
      }
    }

    &.active {
      .dropdown__toggle {
        svg {
          transform: rotate(-180deg);
        }
      }
      .dropdown__menu {
        max-height: 500px;
      }
    }
  }
}

.dropdown_items {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0;
  border-radius: 0;
  &__toggle {
    display: none;
  }
}
@media (max-width: 768px) {
  .dropdown_items {
    position: relative;
    width: 100%;
    &__toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0 !important;
      cursor: pointer;
      @include text-14-700;
      .dropdown_items__arrow {
        @include center;
      }
      svg {
        transform: rotate(-45deg);
        width: 12px;
        height: 6px;
      }
    }

    &__menu {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
      li:first-child {
        padding-top: 16px;
      }
    }

    &.active {
      .dropdown_items__toggle {
        svg {
          transform: rotate(-225deg);
        }
      }
      .dropdown_items__menu {
        max-height: 500px;
      }
    }
  }
}
