.event_page {
  &__wrapper {
    position: relative;
    z-index: 1;
    width: calc(100vw - 8.333vw);
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 100px;
    @media (max-width: 768px) {
      width: calc(100vw - 40px);
      margin-top: 40px;
    }
    @media (max-width: 480px) {
      width: calc(100vw - 24px);
      margin-top: 20px;
      margin-bottom: 80px;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__card_btn_back {
    display: flex;
    align-items: center;
    gap: 8px;
    width: max-content;
    padding: 12px 14px;
    border-radius: 100px;
    background: $grey;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $white;
      background: $black;
    }
    svg {
      transform: rotate(-180deg);
      width: 24px;
      height: 16px;
    }
    span {
      @include text-16-600;
      @media (max-width: 480px) {
        @include text-12-600;
      }
    }
  }
  &__card_bottom {
    display: flex;
    gap: 40px;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__card_wrapper_img {
    width: 315px;
    height: 516px;
    border-radius: 40px;
    overflow: hidden;
    @media (max-width: 1024px) {
      width: 200px;
      height: 327px;
    }
    @media (max-width: 768px) {
      width: 100%;
      height: auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__card_bottom_right {
    display: flex;
    flex-direction: column;
    gap: 36px;
    @media (max-width: 480px) {
      gap: 20px;
    }
  }
  &__card_location_date {
    display: flex;
    gap: 20px;
    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 2px;
    }
    div {
      display: flex;
      align-items: center;
      gap: 12px;
      width: max-content;
      padding: 8px 12px 8px 22px;
      border-radius: 100px;
      background: $beige;
      color: $white;
      @include text-16-600;
      @media (max-width: 480px) {
        padding: 8px 12px 8px 12px;
        @include text-12-600;
      }
    }
    .event_page__card_location svg {
      width: 14px;
      height: 22px;
      @media (max-width: 480px) {
        width: 10px;
        height: 16px;
      }
    }
    .event_page__card_date svg {
      width: 20px;
      height: 20px;
      @media (max-width: 480px) {
        width: 16px;
        height: 14px;
      }
    }
  }
  &__card_text {
    p {
      margin-bottom: 12px;
      @include text-16-500;
      @media (max-width: 480px) {
        @include text-14-500;
      }
    }
    h3 {
      margin-bottom: 12px;
      @include text-24-700;
      @media (max-width: 480px) {
        @include text-18-700;
      }
    }
    ul {
      margin-bottom: 12px;
    }
    ul li {
      @include text-16-500;
      @media (max-width: 480px) {
        @include text-14-500;
      }
    }
  }
  &__slider {
    position: relative;
    z-index: 1;
    width: calc(100vw - 8.333vw);
    margin: 0 auto;
    margin-bottom: 100px;
    @media (max-width: 768px) {
      width: calc(100vw - 40px);
    }
    @media (max-width: 480px) {
      width: calc(100vw - 24px);
      margin-bottom: 80px;
    }
    .event_card {
      width: 410px;
      flex: 0 0 auto;
      @media (max-width: 768px) {
        width: 340px;
      }
      @media (max-width: 480px) {
        width: 240px;
      }
    }
  }
  &__slider_title {
    text-align: start;
  }
  &__slider_top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
  }
  .navigation {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    margin-bottom: max(40px, 3.125vw);
    @media (max-width: 480px) {
      margin-bottom: 20px;
    }
  }
}
