.show_prices {
  position: relative;
  z-index: 1;

  width: calc(100vw - 40px);
  margin: 0 auto;
  margin-bottom: 100px;
  @media (max-width: 480px) {
    width: calc(100vw - 24px);
    margin-bottom: 80px;
  }
  &__bg {
    position: relative;
    width: 100%;
    height: 100vh;
    border-radius: max(40px, 4.16vw);
    overflow: hidden;
    @media (max-width: 768px) {
      height: 100vh;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(23, 26, 31, 0.4) 0%, rgba(23, 26, 31, 0.4) 100%);
  }
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    .logo-dog {
      width: 100px;
      height: 100px;
      margin-bottom: max(12px, 1.04vw);
      @media (max-width: 480px) {
        width: 80px;
        height: 80px;
      }
    }
    h2 {
      margin-bottom: max(28px, 2.08vw);
      @include text-92-72-48-600;
      @media (max-width: 480px) {
        margin-bottom: 20px;
      }
    }
  }
  &__button {
    background: $btn;
    span {
      color: $black;
    }
    svg {
      color: $black;
    }
    &:hover {
      background: $white;
    }
  }
}
