section.shooting
  .shooting__container
    h2.shooting__title.title СТРІЛЬБИЩЕ

    .shooting__wrapper
      //- LEFT: text card
      .shooting__card
        .shooting__card_wrapper.card_wrapper
          h3.shooting__card-title Pitbull Academy —
            br
            | це тренувально-дозвільний комплекс, що поєднує тактичну підготовку та тренування.
          p.shooting__card-text Від “вперше тримаю зброю в руках” до просунутих курсів тактики і спортивної стрільби. Місце, де кожен може випробувати себе, перезавантажитися та отримати нові враження в безпечних умовах.

          .button_pa
            span Дізнатися більше
            svg
              use(href="/assets/icons.svg#Arrow_right")

      //- RIGHT: collage
      .shooting__visual
        .shooting__circle

        .shooting__stack
          //- Card 1
          .shooting__shot.shooting__shot--one
            .shooting__shot-media
              img.shooting__shot-img(src="/public_static/img/shooting_range/img_3.jpg" alt="shooting range")
            p.shooting__shot-caption Завітай новим досвідом

          //- Card 2
          .shooting__shot.shooting__shot--two
            .shooting__shot-media
              img.shooting__shot-img(src="/public_static/img/shooting_range/img_2.jpg" alt="shooting range")
            p.shooting__shot-caption Отримай яскраві емоції

          //- Card 3
          .shooting__shot.shooting__shot--three
            .shooting__shot-media
              img.shooting__shot-img(src="/public_static/img/shooting_range/img_1.jpg" alt="shooting range")
            p.shooting__shot-caption Покращуй свої навички
