.shooting {
  position: relative;
  z-index: 1;
  width: calc(100vw - 8.333vw);
  margin: 0 auto;
  margin-bottom: max(80px, 10.41vw);
  @media (max-width: 768px) {
    width: calc(100vw - 40px);
  }
  @media (max-width: 480px) {
    width: calc(100vw - 24px);
    margin-bottom: 40px;
  }
  &__title {
    @media (max-width: 1024px) {
      width: 100%;
      text-align: start;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    @media (max-width: 1360px) {
      gap: 40px;
    }
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    @media (max-width: 480px) {
      gap: 24px;
    }
  }
  &__card {
    width: 50%;
    @media (max-width: 1024px) {
      width: 100%;
    }
  }
  &__card_wrapper {
    max-width: 560px;
    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }
  &__card-title {
    @include text-36-500;
    margin-bottom: 32px;
    @media (max-width: 480px) {
      @include text-18-500;
      margin-bottom: 12px;
    }
  }
  &__card-text {
    @include text-20-500;
    margin-bottom: max(40px, 2.5vw);
    @media (max-width: 480px) {
      @include text-14-500;
      margin-bottom: 14px;
    }
  }
  &__visual {
    position: relative;
  }
  &__circle {
    width: 38.54vw;
    height: 38.54vw;
    border-radius: 50%;
    background: $beige;
    @media (max-width: 1024px) {
      width: 71.09vw;
      height: 71.09vw;
    }
  }
  &__stack {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  &__shot {
    position: relative;
    width: 17.7vw;
    height: 27.08vw;
    border-radius: max(40px, 4.16vw);
    overflow: hidden;
    @media (max-width: 1024px) {
      width: 32.03vw;
      height: 48.95vw;
    }
    @media (max-width: 480px) {
      border-radius: 20px;
    }
  }
  &__shot-media {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  &__shot-caption {
    position: absolute;
    z-index: 2;
    bottom: max(20px, 1.45vw);
    left: max(20px, 1.45vw);
    right: max(20px, 1.45vw);
    color: $white;
    text-align: center;
    font-family: "Noto Sans";
    font-size: max(26.065px, 1.875vw);
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: max(-1.564px, -0.11vw);
    @media (max-width: 600px) {
      @include text-12-500;
    }
  }
  .shooting__shot--one {
    z-index: 1;
    transform: translateX(8.5vw);
  }
  .shooting__shot--two {
    z-index: 2;
  }
  .shooting__shot--three {
    z-index: 3;
    transform: translateX(-8.5vw);
  }
}
