section.kill_house
  .bg
    img.bg_desktop(src="/public_static/img/kill_house/bg.jpg" alt="background")
    img.bg_mob(src="/public_static/img/kill_house/bg_mob.jpg" alt="background")
  .kill_house__wrapper
    h2.kill_house__title.title Kill house
    .kill_house__card.card_wrapper
      .kill_house__text Тут ви відчуєте справжній драйв командної гри, адреналін і напругу кожного рішення. Реалістична локація, сценарії та атмосфера створюють ефект повного занурення. Кожна місія — це нова історія, що вимагає стратегії та злагодженої роботи команди. Гра, яка запам’ятовується надовго.
      .button_pa
        span Дізнатися більше
        svg
          use(href="/assets/icons.svg#Arrow_right")
