section.pavlo
  .pavlo__logo 
      svg
        use(href="/assets/icons.svg#Logo")
  .pavlo__wrapper.card_wrapper
    .pavlo__bg 
      img(src="/public_static/img/pavlo/pavlo_bg.png" alt="background")
    .pavlo__left
      h2 Світла пам’ять Павлу Чайці — народному герою України та засновнику Pitbull Academy
      img(src="/public_static/img/pavlo/pavlo.jpg" alt="pavlo")
    .pavlo__right
      .pavlo__right_left 
        p 29 вересня 2024 року трагічно обірвалося життя Павла «Сігла» Чайки — нашого друга, наставника, воїна та натхненника. Йому було лише 36 років.
       
        ul 
          h3 Регалії Павла Чайки:
          li 
            div ➊ 
            div Повний кавалер ордена «За мужність» — тобто всі три ступені ордена:
              span III ступеня — 8 липня 2014 року  
              span II ступеня — 4 грудня 2014 року  
              span I ступеня — 26 лютого 2015 року  
          li 
            div ➋ 
            div Народний герой України — присвоєно 7 травня 2016 року.
          li 
            div ➌ 
            div Нагрудний знак «За взірцевість у військовій службі» III ступеня.
          li 
            div ➍ 
            div Почесний громадянин міста Рожище (Волинська область) — з 2015 року.
        p Його бойовий шлях пройшов крізь найгарячіші точки сучасної війни: Зеленопілля, Дебальцеве, Красний Лиман, ДАП. Він бився до кінця, завжди стояв пліч-о-пліч зі своїми побратимами та ніколи не залишав поле бою.
      .pavlo__left_left
        p <span>Але Павло був героєм не лише на фронті. Він став ідейним натхненником та засновником Pitbull Academy — </span>місця, де кожен, хто прагнув навчитися захищати себе та країну, міг отримати знання й навички, наближені до реальних бойових умов. Він особисто створював тренувальні програми, передавав свій безцінний досвід і вчив не лише стріляти, а й мислити, діяти, виживати. 
        p Для нього Pitbull Academy була не просто полігоном — це була школа сили духу, витримки та патріотизму. Його віра в людей і в Україну надихала всіх, хто мав честь його знати. <span>Павло вчив нас, що справжня зброя — це не лише автомат у руках, а й стійкість, братерство та любов до рідної землі.</span>
        p Ми втратили наставника, брата та друга. Але його справа і дух живуть у кожному, кого він навчав. І Pitbull Academy продовжуватиме існувати як пам’ять про нього та як символ незламності, яку він уособлював.