.relax {
  position: relative;
  z-index: 2;
  margin-bottom: max(80px, 10.41vw);
  @media (max-width: 480px) {
    margin-bottom: 40px;
  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: calc(100vw - 40px);
    padding: 80px 60px;
    margin: 0 auto;
    @media (max-width: 1024px) {
      flex-direction: column;
      padding: 60px 40px 150px 40px;
    }
    @media (max-width: 480px) {
      width: calc(100vw - 24px);
      padding: 40px 20px 100px 20px;
    }
  }
  &__bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30.2vw;
    height: auto;
    @media (max-width: 1024px) {
      left: auto;
      right: 0;
      transform: scaleX(-1);
      width: 49.47vw;
    }
  }
  &__left {
    position: relative;
    z-index: 2;
    flex: 1;
  }
  &__right {
    position: relative;
    z-index: 2;
    width: 58.33vw;
    height: 33.333vw;
    @media (max-width: 1024px) {
      width: 100%;
      height: 48.177vw;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__sound {
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }
  &__title {
    margin-bottom: 40px;
    text-align: start;
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}
