extends /index.pug
block content
  img(class="background " src="/assets/images/bg.png")
  include /widgets/hero/hero.pug
  include /widgets/pa-hero/pa.pug
  include /widgets/menu/menu.pug
  include /widgets/shooting_range-hero/shooting_range.pug
  include /widgets/drone-hero/drone-hero.pug
  include /widgets/tccc-hero/tccc.pug
  include /widgets/kill_house-hero/kill_house.pug
  include /widgets/shop-hero/shop-hero.pug
  include /widgets/relax-hero/relax.pug
  include /widgets/event-hero/event.pug
  include /widgets/pavlo/pavlo.pug
  include /widgets/partners/partners.pug