section.event(id="event")
  .event__wrapper 
    .navigation
      svg.event__nav.event__nav--prev
        use(href="/assets/icons.svg#Big_arrow_left")
      svg.event__nav.event__nav--next
        use(href="/assets/icons.svg#Big_arrow_right")
    .event__left 
      .event__title.title ЗМАГАННЯ<br>ТА ПОДІЇ
      .button_pa
        span Дізнатися більше
        svg
          use(href="/assets/icons.svg#Arrow_right")
    .event__right.swiper
     .event__right_wrapper.swiper-wrapper
        a.event_card.swiper-slide(href="/event")
          .event_card__img
            img(src="/public_static/img/events/event_card.jpg" alt="event")
          h3 Змагання у Мотижині
          .event_card__date 
            svg
                use(href="/assets/icons.svg#Calendar")
            span 05 тра, 2025
        a.event_card.swiper-slide(href="/event")
          .event_card__img
            img(src="/public_static/img/events/event_card.jpg" alt="event")
          h3 Змагання у Мотижині
          .event_card__date 
            svg
                use(href="/assets/icons.svg#Calendar")
            span 05 тра, 2025
        a.event_card.swiper-slide(href="/event")
          .event_card__img
            img(src="/public_static/img/events/event_card.jpg" alt="event")
          h3 Змагання у Мотижині
          .event_card__date 
            svg
                use(href="/assets/icons.svg#Calendar")
            span 05 тра, 2025