.event {
  position: relative;
  z-index: 2;
  margin-bottom: max(120px, 10.41vw);

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: calc(100vw - 40px);
    padding: 0px 60px;
    margin: 0 auto;
    @media (max-width: 1024px) {
      flex-direction: column;
      padding: 0;
    }
    @media (max-width: 480px) {
      width: calc(100vw - 24px);
      gap: 20px;
    }
  }
  &__title {
    margin-bottom: 40px;
    text-align: start;
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  &__left {
    flex: 1;
  }
  &__right {
    width: 58.33vw;
    @media (max-width: 1024px) {
      width: 100%;
    }
  }
  &__right_wrapper {
    display: flex;
    justify-content: space-between;
  }
  // тільки коли Swiper активний
  &.event--slider {
    .event__right_wrapper {
      justify-content: flex-start;
    }
    .event_card {
      width: 340px;
      flex: 0 0 auto;
      @media (max-width: 480px) {
        width: 240px;
      }
    }
  }
  @media (min-width: 1360px) {
    .event__right .swiper-slide {
      width: auto;
      height: auto;
      flex-shrink: 1;
    }
  }
}

.event_card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background: $white;
  overflow: hidden;
  &:hover {
    .event_card__date {
      animation: flash-bg 0.5s ease;
    }
  }
  &__img {
    height: 26.875vw;
    @media (max-width: 1360px) {
      height: 516px;
    }
    @media (max-width: 480px) {
      height: 444px;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
  }
  h3 {
    padding: 28px 20px;
    @include text-20-500;
  }
  &__date {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    border-radius: 100px;
    background: rgba(1, 11, 19, 0.2);
    backdrop-filter: blur(20px);
    @include text-16-600;
    color: $white;
    svg {
      width: 20.522px;
      height: 19.992px;
    }
  }
}

@keyframes flash-bg {
  0% {
    background: rgba(1, 11, 19, 0.2);
  }

  25% {
    background: rgba(1, 11, 19, 0.4);
  }

  50% {
    background: rgba(1, 11, 19, 1);
  }

  75% {
    background: rgba(1, 11, 19, 0.4);
  }

  100% {
    background: rgba(1, 11, 19, 0.2);
  }
}
