section.menu_section
  .menu__left
    img.menu_section__bg(src="/assets/images/menu_section_bg.png")
    h2.menu__title Що вас цікавить?

    .menu__cards
      a.menu-card(href="#")
        .menu-card__bg 
          img(class="bg_1" src="/assets/images/cards/card.png")
          img(class="bg_2" src="/assets/images/cards/card_2.png")
        .menu-card__content
          .menu-card__icon
            svg
              use(href="/assets/icons.svg#Rent")
          .menu-card__text ОРЕНДА КАПОНІРІВ

      a.menu-card(href="#")
        .menu-card__bg 
          img(class="bg_1" src="/assets/images/cards/card.png")
          img(class="bg_2" src="/assets/images/cards/card_2.png")
        .menu-card__content
          .menu-card__icon
            svg
              use(href="/assets/icons.svg#Courses")
          .menu-card__text ГРУПОВІ ЗАНЯТТЯ

      a.menu-card(href="#")
        .menu-card__bg 
          img(class="bg_1" src="/assets/images/cards/card.png")
          img(class="bg_2" src="/assets/images/cards/card_2.png")
        .menu-card__content
          .menu-card__icon
            svg
              use(href="/assets/icons.svg#Individual")
          .menu-card__text ІНДИВІДУАЛЬНІ ЗАНЯТТЯ

      a.menu-card(href="/shop")
        .menu-card__bg 
          img(class="bg_1" src="/assets/images/cards/card.png")
          img(class="bg_2" src="/assets/images/cards/card_2.png")
        .menu-card__content
          .menu-card__icon
            svg
              use(href="/assets/icons.svg#Weapon")
          .menu-card__text МАГАЗИН ЗБРОЇ

      a.menu-card(href="/events")
        .menu-card__bg 
          img(class="bg_1" src="/assets/images/cards/card.png")
          img(class="bg_2" src="/assets/images/cards/card_2.png")
        .menu-card__content
          .menu-card__icon
            svg
              use(href="/assets/icons.svg#Competitions")
          .menu-card__text ЗМАГАННЯ ТА ПОДІЇ

      a.menu-card(href="/prices")
        .menu-card__bg 
          img(class="bg_1" src="/assets/images/cards/card.png")
          img(class="bg_2" src="/assets/images/cards/card_2.png")
        .menu-card__content
          .menu-card__icon
            svg
              use(href="/assets/icons.svg#Cost")
          .menu-card__text ВАРТІСТЬ ПОСЛУГ