.relax_page_gallery {
  position: relative;
  z-index: 100;
  margin-bottom: 20px;
  @media (max-width: 480px) {
    margin-bottom: 12px;
  }
  &__wrapper {
    position: relative;
    width: calc(100vw - 40px);
    padding: 80px 60px;
    margin: 0 auto;
    @media (max-width: 1024px) {
      padding: 60px 40px 150px 40px;
    }
    @media (max-width: 480px) {
      padding: 40px 20px 100px 20px;
    }
  }
  &__title {
    text-align: start;
  }
  .navigation {
    position: absolute;
    z-index: 2;
    top: 80px;
    right: 60px;
    left: auto;
    bottom: auto;
    display: flex;
    @media (max-width: 1024px) {
      top: 60px;
      right: 40px;
    }
    @media (max-width: 480px) {
      top: 40px;
      right: 20px;
    }
  }
  &__swiper_wrapper {
    width: 100%;
  }
  .swiper-slide {
    width: max(540px, 37.5vw);
    height: max(360px, 25vw);
    border-radius: max(28px, 2.08vw);
    overflow: hidden;
    @media (max-width: 768px) {
      width: 300px;
      height: 200px;
      border-radius: 12px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
