.relax_page_gallery 
  .relax_page_gallery__wrapper.card_wrapper
    .relax_page_gallery__title.title Галерея
    .navigation
      svg.relax_page_gallery__nav.relax_page_gallery__nav--prev
        use(href="/assets/icons.svg#Big_arrow_left")
      svg.relax_page_gallery__nav.relax_page_gallery__nav--next
        use(href="/assets/icons.svg#Big_arrow_right")
    .relax_page_gallery__swiper_wrapper
      .swiper 
        .swiper-wrapper
          .swiper-slide.gallery_slide
            img(src="/public_static/img/relax_page/gallery_1.jpg" alt="relax zone")
          .swiper-slide.gallery_slide
            img(src="/public_static/img/relax_page/gallery_2.jpg" alt="relax zone")
          .swiper-slide.gallery_slide
            img(src="/public_static/img/relax_page/gallery_1.jpg" alt="relax zone")
          .swiper-slide.gallery_slide
            img(src="/public_static/img/relax_page/gallery_2.jpg" alt="relax zone")
