.tabs {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 8.333vw);
  margin: 0 auto;
  padding: 40px 0 28px 0;
  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    align-items: start;
    gap: 28px;
  }
  @media (max-width: 768px) {
    width: calc(100vw - 40px);
    padding: 20px 0 28px 0;
  }
  @media (max-width: 480px) {
    width: calc(100vw - 24px);
    padding: 20px 0 20px 0;
    gap: 20px;
  }
  &__left {
    display: flex;
    gap: 8px;
    @media (max-width: 480px) {
      gap: 4px;
    }
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 24px;
    border-radius: 100px;
    @include text-16-600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $white;
      background: $beige;
    }
    @media (max-width: 480px) {
      padding: 8 12px;
      @include text-14-500;
    }
  }
  &__item.active {
    color: $white;
    background: $black;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    svg {
      width: 16px;
      height: 16px;
    }
    span {
      @include text-12-500;
    }
  }
}
.products {
  position: relative;
  z-index: 1;
  width: calc(100vw - 8.333vw);
  margin: 0 auto;
  margin-bottom: 260px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: max(20px, 2.08vw);
  @media (max-width: 1360px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    width: calc(100vw - 40px);
  }
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    width: calc(100vw - 24px);
    margin-bottom: 208px;
  }
}
.product_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 20px 20px 28px 20px;
  border-radius: 40px;
  background: #fff;
  transition: all 0.3s ease-in-out;
  @media (max-width: 480px) {
    border-radius: 20px;
  }
  &__img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
    @include text-20-700;
    background: #fff;
    @media (max-width: 480px) {
      @include text-14-700;
    }
  }
  &__bottom {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 20px;
    background: #fff;
  }
  &__price {
    display: flex;
    flex-direction: column;
    .name {
      @include text-12-500;
    }
    .price {
      @include text-20-500;
      @media (max-width: 480px) {
        @include text-18-500;
      }
    }
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 4px;
    @include text-12-500;
    cursor: pointer;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  &__wrapper_button {
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 100px 20px 28px 20px;
    border-radius: 0 0 40px 40px;
    background: #fff;
    opacity: 0;
    transition:
      box-shadow 0.3s ease-in-out,
      transform 0.3s ease-in-out,
      opacity 0s ease-in-out;
    @media (max-width: 1024px) {
      position: relative;
      padding: 0;
      opacity: 1;
    }
  }
}
@media (min-width: 1024px) {
  .product_card:hover {
    z-index: 2;
    box-shadow: 0 40px 40px 0 rgba(1, 11, 19, 0.12);
    .product_card__wrapper_button {
      transform: translateY(82px);
      box-shadow: 0 40px 40px 0 rgba(1, 11, 19, 0.12);
      opacity: 1;
    }
  }
}

.btn_black_without_icon {
  @include center;
  width: 100%;
  height: 60px;
  border-radius: 100px;
  @include text-16-600;
  color: $white;
  background: $black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: $beige;
  }
  @media (max-width: 480px) {
    height: 36px;
  }
}
