.shop-hero {
  position: relative;
  z-index: 2;
  margin-bottom: max(80px, 10.41vw);
  @media (max-width: 480px) {
    margin-bottom: 40px;
  }
  .bg {
    position: absolute;
    z-index: 1;
    @media (max-width: 1360px) {
      bottom: 0;
    }
    @media (max-width: 768px) {
      position: relative;
      transform: translateY(-50%);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__wrapper {
    position: relative;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: max(20px, 4.16vw);
    width: calc(100vw - 8.333vw);
    height: 100%;
    @media (max-width: 1360px) {
      flex-direction: column;
      align-items: center;
      .shop-hero__title {
        order: 1;
      }
      .shop-hero__media {
        order: 3;
      }
      .shop-hero__card {
        order: 2;
      }
    }
    @media (max-width: 768px) {
      width: calc(100vw - 40px);
      .bg {
        order: 4;
      }
    }
    @media (max-width: 480px) {
      width: calc(100vw - 24px);
    }
  }
  &__title {
    position: relative;
    z-index: 2;
    flex: 1;
    text-align: start;
    width: 100%;
  }
  &__media {
    position: relative;
    z-index: 2;
    width: 480px;
    height: 740px;
    @media (max-width: 500px) {
      width: 100%;
      height: 144vw;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__sound {
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }
  &__card {
    position: relative;
    z-index: 2;
    flex: 1;
    height: min-content;
    margin-top: auto;
  }
  &__text {
    @include text-20-500;
    margin-bottom: 48px;
    @media (max-width: 480px) {
      @include text-14-500;
      margin-bottom: 20px;
    }
  }
}
