extends /index.pug
block content
  img(class="background " src="/assets/images/bg.png")
  - const pageTitle = "ТАКТИЧНА МЕДИЦИНА"
  include /widgets/title/title.pug
  include /widgets/show_prices/show_prices.pug