.hero {
  position: relative;
  z-index: 1;

  width: calc(100vw - 40px);
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: max(80px, 10.41vw);
  @media (max-width: 768px) {
    margin-top: 80px;
  }
  @media (max-width: 480px) {
    width: calc(100vw - 24px);
    margin-bottom: 40px;
  }
  &__bg {
    position: relative;
    width: 100%;
    height: calc(calc(var(--vh, 1vh) * 100) - 120px);
    border-radius: max(40px, 4.16vw);
    overflow: hidden;
    @media (max-width: 768px) {
      height: calc(calc(var(--vh, 1vh) * 100) - 100px);
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(23, 26, 31, 0.4) 0%, rgba(23, 26, 31, 0.4) 100%);
  }
  &__container {
    position: absolute;
    inset: 0;
    color: $white;
  }
  &__sound {
    position: absolute;
    top: max(20px, 3.125vw);
    right: max(20px, 3.125vw);
    cursor: pointer;
    .watch-svg__circle {
      fill: rgba(1, 11, 19, 0.2);
      backdrop-filter: blur(220px);
    }

    @media (max-width: 768px) {
      top: 74px;
    }
    svg {
      @media (max-width: 768px) {
        width: 100px;
        height: 100px;
      }
      @media (max-width: 480px) {
        width: 80px;
        height: 80px;
      }
    }
  }
  &__brand {
    position: absolute;
    top: max(20px, 3.125vw);
    left: max(20px, 3.125vw);
    display: flex;
    gap: 4px;
    color: $white;
    mix-blend-mode: difference;
  }
  &__logo {
    width: 100px;
    height: 100px;
    mix-blend-mode: difference;
    @media (max-width: 768px) {
      width: 41.23px;
      height: 47.304px;
    }
  }
  &__title {
    position: relative;
    @include text-92-600;
    height: 92px;
    overflow: hidden;
    @media (max-width: 768px) {
      @include text-42-600;
      height: 42px;
    }
  }
  &__title-wrapper {
    display: flex;
    flex-direction: column;
    animation: heroTitleSlide 8s infinite ease-in-out;
    @media (max-width: 768px) {
      animation: heroTitleSlideMobile 8s infinite ease-in-out;
    }
  }
  &__title-wrapper span {
    height: 92px;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      height: 42px;
    }
  }
  @keyframes heroTitleSlide {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(0);
    }

    25% {
      transform: translateY(-92px);
    }
    45% {
      transform: translateY(-92px);
    }

    50% {
      transform: translateY(-184px);
    }
    70% {
      transform: translateY(-184px);
    }

    75% {
      transform: translateY(-276px);
    }
    95% {
      transform: translateY(-276px);
    }

    100% {
      transform: translateY(0);
    }
  }
  @keyframes heroTitleSlideMobile {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(0);
    }

    25% {
      transform: translateY(-42px);
    }
    45% {
      transform: translateY(-42px);
    }

    50% {
      transform: translateY(-84px);
    }
    70% {
      transform: translateY(-84px);
    }

    75% {
      transform: translateY(-126px);
    }
    95% {
      transform: translateY(-126px);
    }

    100% {
      transform: translateY(0);
    }
  }
  &__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: max(20px, 3.125vw);
    svg {
      color: $white;
    }
    a {
      left: calc(-1 * (88px + max(20px, 3.125vw)));
      gap: max(20px, 3.125vw);
    }
    a:hover {
      gap: 0;
    }
  }
  &__location {
    position: absolute;
    bottom: max(20px, 3.125vw);
    left: max(20px, 3.125vw);
    display: flex;
    align-items: center;
    gap: 20px;
    @include text-16-600;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: start;
    }
    @media (max-width: 480px) {
      @include text-12-600;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }
  }
  &__location-svg {
    display: flex;
    width: 68px;
    height: 68px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: rgba(247, 247, 247, 0.2);
    @media (max-width: 480px) {
      width: auto;
      height: auto;
      background: rgba(0, 0, 0, 0);
    }
  }
  &__scroll {
    position: absolute;
    bottom: max(20px, 3.125vw);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 68px;
    height: 68px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: rgba(247, 247, 247, 0.2);
    overflow: hidden;
    svg {
      animation: homeDownArrowAnim 2s ease-in-out infinite;
      @media (max-width: 480px) {
        width: 20px;
        height: 20px;
      }
    }
    @media (max-width: 768px) {
      left: auto;
      right: 20px;
      width: 60px;
      height: 60px;
    }
    @media (max-width: 480px) {
      width: 48px;
      height: 48px;
    }
  }
  @keyframes homeDownArrowAnim {
    0% {
      transform: translateY(-50px);
    }

    45% {
      transform: translateY(0px);
    }

    55% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(50px);
    }
  }
  .callback {
    position: absolute;
    bottom: max(20px, 3.125vw);
    right: max(20px, 3.125vw);
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 12px 20px;
    border-radius: 100px;
    background: rgba(247, 247, 247, 0.2);
    @include text-16-600;
    color: $white;
    text-align: start;
    svg {
      width: 32px;
      height: 32px;
    }
    @media (max-width: 768px) {
      bottom: 100px;
    }
  }
}
