.tccc {
  position: relative;
  z-index: 1;
  width: calc(100vw - 8.333vw);
  margin: 0 auto;
  margin-bottom: max(80px, 10.41vw);
  @media (max-width: 768px) {
    width: calc(100vw - 40px);
  }
  @media (max-width: 480px) {
    width: calc(100vw - 24px);
    margin-bottom: 40px;
  }
  &__title {
    @media (max-width: 1024px) {
      width: 100%;
      text-align: start;
    }
  }
  &__wrapper {
    display: flex;
    gap: max(20px, 4.16vw);
    @media (max-width: 1360px) {
      flex-direction: column;
      align-items: center;
    }
  }
  .tccc-card--left {
    flex: 1;
    @media (max-width: 1360px) {
      width: 100%;
    }
  }
  .tccc-card--right {
    flex: 1;
    @media (max-width: 1360px) {
      width: 100%;
    }
  }
  .tccc-card__lead {
    @include text-36-500;
    margin-bottom: 32px;
    @media (max-width: 480px) {
      @include text-18-500;
      margin-bottom: 20px;
    }
  }
  .tccc-card__text {
    @include text-20-500;
    @media (max-width: 480px) {
      @include text-14-500;
    }
  }
  .tccc-card__subtitle {
    @include text-24-700;
    margin-bottom: 16px;
    @media (max-width: 1024px) {
      @include text-20-700;
    }
    @media (max-width: 480px) {
      margin-bottom: 4px;
    }
  }
  .tccc-card__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: max(40px, 3.125vw);
    @media (max-width: 480px) {
      gap: 4px;
      margin-bottom: 20px;
    }
  }
  .tccc-card__item {
    position: relative;
    @include text-20-500;
    padding-left: 20px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: $black;
    }
    @media (max-width: 480px) {
      @include text-14-500;
    }
  }
  .tccc-media {
    width: 480px;
    height: 740px;
    @media (max-width: 500px) {
      width: 100%;
      height: auto;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__sound {
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }
}
