.drone-hero {
  position: relative;
  z-index: 1;
  width: calc(100vw - 8.333vw);
  margin: 0 auto;
  margin-bottom: max(80px, 10.41vw);
  @media (max-width: 768px) {
    width: calc(100vw - 40px);
  }
  @media (max-width: 480px) {
    width: calc(100vw - 24px);
    margin-bottom: 40px;
  }
  &__wrapper {
    display: flex;
    gap: max(20px, 4.16vw);
    @media (max-width: 1024px) {
      flex-direction: column-reverse;
    }
  }
  &__media {
    width: 58.33vw;
    @media (max-width: 1360px) {
      min-width: 50%;
      width: 50%;
    }
    @media (max-width: 1024px) {
      min-width: 100%;
      width: 100%;
      height: 62.5vw;
    }
    video {
      min-width: 100%;
      min-height: auto;
      @media (max-width: 1024px) {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__card {
    flex: 1;
  }
  &__title {
    @include text-92-72-48-600;
    margin-bottom: 32px;
    text-align: start;
    @media (max-width: 480px) {
      margin-bottom: 20px;
    }
  }
  &__text {
    @include text-20-500;
    margin-bottom: max(40px, 2.5vw);
    @media (max-width: 480px) {
      @include text-14-500;
      margin-bottom: 28px;
    }
  }
  .hero__sound {
    left: max(20px, 3.125vw);
    right: auto;
  }
}
