.error {
  position: relative;
  z-index: 1;

  width: calc(100vw - 8.333vw);
  margin: 0 auto;

  margin-top: max(140px, calc(100px + 6.25vw));
  margin-bottom: max(100px, 10.41vw);

  @media (max-width: 768px) {
    width: calc(100vw - 40px);
    margin-top: 120px;
  }
  @media (max-width: 480px) {
    width: calc(100vw - 24px);
    margin-top: 100px;
    margin-bottom: 80px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 40px;
    }
  }
  &__left {
    svg {
      width: 47.7vw;
      height: 23.9vw;
      @media (max-width: 1024px) {
        width: 100%;
        height: 47vw;
      }
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    width: min-content;
    @media (max-width: 1024px) {
      width: 100%;
    }
    h1 {
      margin-bottom: max(28px, 3.125vw);
      font-family: "Noto Sans";
      font-size: 200px;
      font-style: normal;
      font-weight: 600;
      line-height: 76%;
      letter-spacing: -8px;
      text-transform: uppercase;
      @media (max-width: 1024px) {
        text-align: center;
      }
      @media (max-width: 480px) {
        margin-bottom: 20px;
        font-size: 128px;
        letter-spacing: -5.12px;
      }
    }
    h2 {
      margin-bottom: 12px;
      font-family: "Noto Sans";
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: -2.88px;
      @media (max-width: 1024px) {
        text-align: center;
      }
      @media (max-width: 480px) {
        font-size: 32px;
        letter-spacing: -1.92px;
      }
    }
    p {
      width: 300px;
      margin-bottom: max(28px, 3.125vw);
      @include text-24-500;
      @media (max-width: 1024px) {
        width: 100%;
        text-align: center;
      }
    }
    .buttons {
      display: flex;
      gap: 12px;
      @media (max-width: 1024px) {
        justify-content: center;
      }
    }
  }
}
